

body {
  margin-top: 0;
}

.sc-w {color: #000;}
.outer {
  max-width: 740px !important;
  margin: 0 auto !important;
  padding: 10px;
}

h2 {
  font-size: 24px !important;
}

a {
  text-decoration: underline !important;
  line-height: 33px !important;
  color: blue !important;
}
