body {
  margin: 0 !important;
  padding: 0 !important;
}

.theme-living .article__content a {
  color: blue !important;
}
.article__media-caption {
  font-weight: bold;
}
.sc-w {
  color: #000;
}
.outer {
  max-width: 760px !important;
  margin: 0 auto !important;
  padding: 0 10px !important;
}
h2 {
  font-size: 24px !important;
}

a {
  color: blue !important;
  text-decoration: underline !important;
}
